* {
    box-sizing: border-box;
    margin: 0px;
  
  }
  
  nav {
    position: fixed;
  
    width: 100%;
    font-size: 120%;
    background: linear-gradient(90deg, rgba(9, 9, 121, 0.8) 24%, rgba(4, 117, 192, 0.8) 74%, rgba(1, 185, 237, 0.8) 97%, rgba(0, 212, 255, 0.8) 100%);
    border-radius: 10% 10% 70% 70%;
    padding: 2%;
    z-index: 100000;
  
  }
  
  
  .menu {
    z-index: 10;
  }
  
  nav>a {
    font-family: "Gill Sans", serif;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
  
    text-decoration: none;
  
  
  }
  
  nav>ul>li:hover {
  
    transition: 0.4s;
    font-size: 1.4em;
    text-decoration: underline;
  
  }
  
  nav>ul>li>.sous-menu :hover {
  
    transition: 0.4s;
    font-size: 1em;
    text-decoration: underline;
  
  }
  
  .AproposDeMoi {
  
  
    background-color: antiquewhite;
  
  
    padding: 5%;
    padding-top: 10%;
  
  }
  
  .menu ul {
    display: none;
    list-style-type: none;
  
  }
  
  .menu {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
  
  }
  
  .menu a {
    display: block;
    width: 100%;
  
    color: #fff;
  
    text-decoration: none;
    padding: 3px 10px;
  
  }
  
  .menu li:hover ul {
    display: flex;
    flex-direction: column;
  }
  .line{
    background-color:#001E29;
    padding: 10%;
    
  }
  .cs{
    font-size: 110%;
  }

  .line >h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 300%;
    color: #fff;  
    padding-bottom: 2%;  
  }
  .main{
    color: #fff;
    background-color: #181A1B  ;
    padding-bottom:5%;
    font-family:'Times New Roman', Times, serif;
  }
 
  nav > .menu > li > button{
    margin-top: 0px;
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    border-color: #fff;
    
    background-image: url("images/trad.png");
    cursor: pointer;
    }