*{
    box-sizing: border-box;margin: 0px;
}
nav{
    position : fixed;
    
    width: 100%;
    font-size: 120%;
    background: linear-gradient(90deg, rgba(9,9,121,0.8) 24%, rgba(4,117,192,0.8) 74%, rgba(1,185,237,0.8) 97%, rgba(0,212,255,0.8) 100%);
    border-radius: 10% 10% 70% 70%;
    padding: 2%;
    
   
}


.menu{
    z-index: 10;
}
nav > a{
    font-family: "Gill Sans", serif;
    color: white;
    padding-left:5%;
    padding-right:5%;
    
    text-decoration:none;
    

}
ul > li:hover{
    font-style: bold;
    transition: 0.4s;
    font-size: 1.4em;
    text-decoration:underline;

}
ul > li > .sous-menu :hover{
    font-style: bold;
    transition: 0.4s;
    font-size:1em;
    text-decoration:underline;
    
}
.AproposDeMoi{
    
    
    background-color:antiquewhite;
    
    
    padding:5%;
    padding-top: 10%;
    
}
.menu ul{
    display: none   ;
    list-style-type: none;
  
}
.menu{
    display: flex;
    list-style-type: none;
   justify-content: space-evenly;     
    
}
.menu a {
    display: block;
    width: 100%;
    
    color: #fff;
    
    text-decoration: none;
    padding: 3px 10px;
   
  }
  .menu li:hover ul {
    display: flex;
    flex-direction: column;
  }


.Experience{
    background-color: blue;
   
    padding:15%;
    
}
.MonParcous{
    padding:15%;

}

.main {
    display: flex; 
    flex-direction: column;
    

}
.AproposDeMoi > header{
    font-style: italic;
    font-size: 180%;
    font-weight:600;
    padding-bottom: 3%;
}
.Q {
    display: flex;
    flex-direction: row;
    font-style:oblique;
    font-size: 120%;
    max-height: 50%;
    padding-bottom: 3%;
    
}


.Q>img {
    border: 1px solid #ddd;
    border-radius: 2%;
    width: 30%;
    
    
    
    
    
  }
  
  
  
  
  .Q .container{  
    width: 70%;
    padding: 5%;
    padding-top: 10%;
    
    margin-left: 15%;
}
  

  
  
  .box{
    
    background: #111845a6;
    
    
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    border-bottom: 2px solid #2a3cad;
    color: white;
    padding: 20px;
  }
  
  
  
  
  
  
  .box .content{
    
   
    border:1px solid #f0a591;
    
    padding:20px;
    padding-bottom: 7%;
    
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
    
  }
  

  
  
  
  
  
  